node_modules/
services/service-c/build/
dist/
storybook-static/
coverage/
*.out
.pytest_cache/
__pycache__/
*.pyc
.venv/
.env
!.env.example

# IaC
**/.terraform/
*.tfstate
*.tfstate.*
infrastructure/generated/*
!infrastructure/generated/.gitignore
